.card__container {
    background-color: hsl(216, 100%, 10%);
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1.5rem;
    animation-name: wipeIn;
    animation-duration: 0.5s;
}