.warning__container {
    padding: 0.6rem;
    margin: 1rem 0;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 0.8rem;
    -webkit-user-select: none;
    user-select: none;
    animation-name: wipeIn;
    animation-duration: 0.5s;
  }
  
  /* For medium size phones */
  @media (min-width: 576px) {
    .warning__container {
      width: 80%;
      margin: 1.3rem auto;
      padding: 1rem;
    }
  }
  
  /* For Tablets & Laptops */
  @media (min-width: 768px) {
    .warning__container {
      width: 70%;
    }
  }
  
  /* For Laptops */
  @media (min-width: 992px) {
    .warning__container {
      width: 60%;
    }
  }
  