.user-profile-password__action {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.user-profile-password-input__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* For medium size phones */
@media (min-width: 576px) {
  .user-profile-password-input__container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .user-profile-password__input {
    width: 48%;
  }
}

/* For Tablets & Laptops */
@media (min-width: 768px) {
  .user-profile-password-input__container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .user-profile-password__input {
    width: 48%;
  }
}

/* For Laptops */
@media (min-width: 992px) {
}
