/* 
blue => hsl(216, 100%, 5%);
light blue => hsl(220, 61%, 80%);
*/

.customer-registration-form__container {
  width: 100%;
}

/* ------------------------------ */

.customer-reg-form__heading {
    font-size: 1.3rem;
    margin-bottom: 0.1rem;
}

.customer-reg-form__sub-heading {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}


.customer-reg-form__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border: 1px solid hsl(220, 61%, 80%);
  color: hsl(220, 61%, 80%);
  margin-bottom: 3rem;
  border-radius: 0.3rem;
}

.customer-reg-form__inputs {
  display: flex;
  flex-wrap: wrap;
}

.customer-reg-form__input-col {
  width: 100%;
}

.customer-reg-form__input-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 0.6rem 0;
  font-size: 1.2rem;
}

.customer-reg-form__input-item input {
  width: 100%;
  margin: 0.2rem 0;
  padding: 0.4rem;
  line-height: 2rem;
  border-radius: 0;
  border: 1px solid hsl(220, 61%, 30%);
  background-color: hsl(216, 100%, 15%);
  color: hsl(216, 100%, 85%);
  font-size: 1.2rem;
}

.customer-reg-form__input-item input:focus-visible {
  outline: 1px solid hsl(216, 100%, 75%);
  border: 1px solid hsl(216, 100%, 75%);
  background-color: hsl(220, 61%, 20%);
}

.customer-reg-form__input-item input::placeholder {
  color: hsl(220, 61%, 60%);
  font-size: 1rem;
}

.customer-reg-form__confirmations-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.customer-reg-form__confirmation-item {
  margin: 0.4rem 0;
}

.confirmation-checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  margin-left: 0;
  margin-right: 0.4rem;
}

input[type="checkbox"]:checked {
  /* accent-color: hsl(220, 61%, 80%); */

  accent-color: red;
}

.customer-reg-form__confirmation-item.action-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-reg-form__action-btn {
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0.5rem;
  color: hsl(216, 100%, 5%);
  background-color: hsl(220, 61%, 80%);
  border: 2px solid hsl(220, 61%, 80%);
  border-radius: 0.3rem;
}

.customer-reg-form__action-btn:hover {
  background-color: hsl(216, 100%, 5%);
  color: hsl(220, 61%, 80%);
}

/* For Tablets & Laptops */
@media (min-width: 768px) {
  .customer-reg-form__input-col {
    width: 50%;
    padding: 1rem;
  }

  .customer-reg-form__confirmations-container {
    padding: 0 1rem;
  }
}

/* For Laptops */
@media (min-width: 992px) {
}
