.customer-registration-actions__container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.customer-registration-action__declaration {
    padding: 0.5rem 0;
}

.cutomer-registration-action-button__container {
    margin: 1rem 0;
    padding-top: 0.5rem;
    align-self: center;
}

/* For Tablets & Laptops */
@media (min-width: 768px) {
    .customer-registration-actions__container {
        padding: 0 1rem;
    }
}