.modal-close-button {
  height: 2.2rem;
  width: 2.2rem;
  text-align: center;
  background-color: hsl(216, 100%, 5%);
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  /* border-top: 1px solid hsl(216, 100%, 50%); */
  /* border-right: 1px solid hsl(216, 100%, 50%); */
}

.modal-close-button:hover {
    background-color: hsl(220, 61%, 80%);
    color: hsl(216, 100%, 5%);
    transition: all 0.3s ease-out;
}