@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 0.8;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
    transform: translateY(20%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.ModalOpen {
  animation: openModal 1s ease-out forwards;
}

.ModalClose {
  animation: closeModal 1s ease-out forwards;
}

.modal-body {
  background-color: hsl(216, 100%, 25%);
  position: fixed;
  width: 90%;
  height: 90%;
  border-radius: 1.2rem;
  z-index: 250;
  justify-self: center;
  align-self: center;
  top: 2rem;
  display: flex;
  flex-direction: column;
}

.modal-body__heading {
  border-radius: 1.2rem 1.2rem 1.2rem 0;
  background-color: hsl(216, 100%, 50%);
  height: 2.2rem;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
}

.modal-body__container {
  width: 100%;
  margin: 0.5rem 0;
  margin-bottom: 5rem;
  padding: 0.8rem;
  overflow-y: scroll;
  max-height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.modal-body__container::-webkit-scrollbar {
  display: none;
}

.modal-body-no-warning__container {
  height: calc(100% - 2.2rem);
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0.8rem;
  overflow-y: scroll;
  max-height: 100%;
  /* -ms-overflow-style: none;  */
  scrollbar-width: 0.8rem;
  scrollbar-color: hsla(216, 100%, 40%, 1) hsla(216, 100%, 10%, 1);
}

.modal-body-no-warning__container::-webkit-scrollbar {
  /* display: none; */
}


.modal-body-no-warning__container::-webkit-scrollbar {
  background-color: hsla(216, 100%, 10%);
  width: 0.8rem;
}

.modal-body-no-warning__container::-webkit-scrollbar-track {
  background-color: hsla(216, 100%, 15%, 1);
}

.modal-body-no-warning__container::-webkit-scrollbar-button {
  display: none;
}

.modal-body-no-warning__container::-webkit-scrollbar-thumb {
  background-color: hsla(216, 100%, 40%, 1);
  border-radius: 1rem;
}

.modal-body-no-warning__container::-webkit-scrollbar-thumb:hover {
  background-color: hsla(216, 100%, 50%, 1);
}


.modal-body__action {
  border-radius: 0 0 1.2rem 1.2rem;
  background-color: hsl(216, 100%, 50%);
  /* height: 3rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  bottom: 0;
  position: absolute;
}

.modal-action-button__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-action__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(220, 61%, 80%);
  border: 1px solid hsl(220, 61%, 80%);
  border-radius: 0.5rem;
  color: hsl(216, 100%, 50%);
  padding: 0.5rem;
  font-weight: bold;
  margin: 0 0.3rem;
  font-size: 0.8rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.modal-action__button:hover {
  color: hsl(220, 61%, 80%);
  background-color: hsl(216, 100%, 50%);
  transition: all 0.3s ease-out;
}

/* For medium size phones */
@media (min-width: 576px) {
  .modal-body__container {
    padding: 1rem;
  }

  .modal-body-no-warning__container {
    padding: 1rem;
  }
}

/* For Tablets */
@media (min-width: 768px) and (max-width: 992px) {
  .modal-body {
    width: 80%;
    height: 80%;
  }

  .modal-body__container {
    padding: 1.5rem;
  }

  .modal-body-no-warning__container {
    padding: 1.5rem;
  }
  .modal-action__button {
    font-size: 1rem;
    padding: 0.6rem;
  }
  .modal-body__heading {
    font-size: 1rem;
  }
}

/* For Laptops */
@media (min-width: 992px) {
  .modal-body {
    width: 70%;
    height: 80%;
  }

  .modal-action__button {
    font-size: 1rem;
    padding: 0.6rem;
  }

  .modal-body__container {
    padding: 2rem;
  }

  .modal-body-no-warning__container {
    padding: 2rem;
  }

  .modal-body__heading {
    font-size: 1.2rem;
  }
}
