@keyframes wipeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  color: hsl(220, 61%, 80%);
  background-color: hsl(216, 100%, 5%);
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}

.warning-msg__container {
  height: 1.5rem;
  font-size: 0.8rem;
  margin: 0.5rem 0;
  text-align: center;
  width: 100%;
}

.warning-msg-styles__red {
  color: red;
  animation-name: wipeIn;
  animation-duration: 1.2s;
}

.warning-msg-styles__green {
  color: rgb(0, 255, 0);
  animation-name: wipeIn;
  animation-duration: 1.2s;
}

.warning-msg-styles__white {
  color: rgb(255, 255, 255);
  animation-name: wipeIn;
  animation-duration: 1.2s;
}

#modal-root {
  display: flex;
  flex-direction: column;
}
