.form-input-time__container {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form-input-time__container label {
  font-size: 1.2rem;
  width: 10rem;
}

.form-input-time__inputs-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0 0.4rem;
}

.form-input-time__inputs-container input {
  width: 4rem;
  margin: 0.2rem 0.2rem;
  padding: 0.4rem;
  line-height: 2rem;
  border-radius: 0;
  border: 1px solid hsl(220, 61%, 30%);
  background-color: hsl(216, 100%, 15%);
  color: hsl(216, 100%, 85%);
  font-size: 1.2rem;
  text-align: center;
}
.form-input-time__inputs-container input::placeholder {
  text-align: center;
  color: hsl(220, 61%, 60%);
  font-size: 1rem;
}

.form-input-time__inputs-container input:focus-visible {
  outline: 1px solid hsl(216, 100%, 75%);
  border: 1px solid hsl(216, 100%, 75%);
}

.form-input-time__inputs-container input::-webkit-outer-spin-button,
.form-input-time__inputs-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
