.form-input__container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.form-input__container label {
  font-size: 1.2rem;
  width: 100%;
}

.form-input__container input {
  width: 100%;
  margin: 0.2rem 0;
  padding: 0.4rem;
  line-height: 2rem;
  border-radius: 0;
  border: 1px solid hsl(220, 61%, 30%);
  background-color: hsl(216, 100%, 15%);
  color: hsl(216, 100%, 85%);
  font-size: 1.2rem;
}

.form-input__container input:focus-visible {
  outline: 1px solid hsl(216, 100%, 75%);
  border: 1px solid hsl(216, 100%, 75%);
  background-color: hsl(220, 61%, 20%);
}

/* input disbled styles */
.form-input__container input:disabled {
  border: 1px solid hsl(216, 100%, 25%);
  background-color: hsl(221, 95%, 8%);
  cursor: not-allowed;
}

.form-input__container input:disabled::placeholder {
  color: hsl(216, 100%, 25%);
}


.form-input__container input::placeholder {
  color: hsl(220, 61%, 60%);
  font-size: 1rem;
}

input.form-input__required::placeholder {
  color: hsl(0, 100%, 50%);
}

input.form-input__not-valid {
  border: 1px solid hsl(0, 100%, 50%);
  color: red;
}

input.form-input__not-valid:focus-visible {
  outline: 1px solid hsl(0, 100%, 50%);
  border: 1px solid hsl(0, 100%, 50%);
}