.user-profile-change-password__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* For Tablets & Laptops */
@media (min-width: 768px) {
    .user-profile-change-password__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .user-profile-change-password__input {
        width: 50%;
        margin: 1rem;
      } 
}
