.sign-up-form__container {
  animation-name: wipeIn;
  animation-duration: 0.8s;
}

.sign-up-form-input__container {
  width: 100%;
}

.sign-up-form-input__declaration {
  width: 100%;
}

.sign-up-form-input__action {
  width: 100%;
  margin: 1rem 0;
  padding: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sign-up-form__warning {
  color: red;
  font-size: 0.6rem;
  text-align: center;
  height: 2rem;
  width: 100%;
}

/* For medium size phones */
@media (min-width: 576px) {
  .sign-up-form-input__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sign-up-form-input__col-container {
    width: 100%;
    margin: 1rem;
  }

}

/* For Tablets */
@media (min-width: 768px) {
  .sign-up-form-input__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sign-up-form-input__col-container {
    width: 100%;
    margin: 1rem;
  }
}

/* For Laptops */
@media (min-width: 992px) {
}
