@keyframes dropdownIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  /* 50% {
    opacity: 0.8;
    transform: translateY(-50%);
  } */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropdownOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  /* 50% {
    opacity: 0.5;
    transform: translateY(-50%);
  } */
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}


.DropdownOpen {
  animation: dropdownIn 0.5s ease-out forwards;
}

.DropdownClose {
  animation: dropdownOut 0.5s ease-out forwards;
}

.user-navigation-list__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 1rem;
  top: 3rem;
  width: 86%;
  margin: auto;
  background-color: hsla(216, 100%, 10%, 0.9);
  border-top: none;
  /* animation-name: dropdownIn; */
  /* animation-duration: 0.4s; */
}

.user-navigation-list__container-display-none {
  display: none;
}

.user-navigation-list__container a {
  text-decoration: none;
  width: 10rem;
  margin: 0.4rem;
  padding: 0.4rem;
  font-size: 1rem;
  text-align: center;
  background-color: hsla(216, 100%, 50%, 0.8);
  color: hsl(220, 61%, 80%);
  border-radius: 0.3rem;
  font-weight: bold;
}

.user-navigation-list__container a:hover {
  background-color: hsl(216, 100%, 5%);
  color: hsl(220, 61%, 80%);
  transition: all 0.5s;
}

a.log-out__button {
  background-color: hsla(0, 100%, 50%, 0.7);
  color: hsl(216, 100%, 5%);
}

a.log-out__button:hover {
  background-color: hsl(216, 100%, 5%);
  color: hsl(0, 100%, 50%);
}

/* For medium size phones */
@media (min-width: 576px) {
  .user-navigation-list__container {
    padding: 1rem;
    top: 3rem;
    right: 7%;
    width: 40%;
  }
}

/* For Tablets */
@media (min-width: 768px) {
  .user-navigation-list__container {
    padding: 1rem;
    top: 5rem;
    right: 10%;
    width: 25%;
  }
}

/* For Laptops */
@media (min-width: 992px) {
}
