.header-options__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-options__link {
    color: #5b79ff;
}


/* For Mobile Devices */
@media (max-width: 688px) {
    .header-options__list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        top: 5rem;
        left: 0;
        padding: 2rem;
        width: 100%;
        z-index: 100;
        background-image: linear-gradient(to right, #acb6e5, #86fde8);
        border-top: 1px solid white;
        box-shadow: 0 2px 6px 0 rgb(198, 198, 198);
    }
    
    .header-options__link {
        padding: 1rem;
        margin: 0.5rem;
        width: 50%;
        text-align: center;
    }
    
    .header-options__link:hover {
        background-color: #5b79ff;
        color: white;
    }
    
    .nav-not-expanded {
        display: none;
    }
}