.login-button {
    margin: 0.5rem 0;
    width: 100%;
    text-align: center;
    line-height: 2rem;
    padding: 0.5rem;
    border: none;
    background-color: hsla(130, 100%, 36%, 0.4);
    color: hsla(220, 61%, 80%, 0.4);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
  }
  
  .login-button:hover {
      color: hsl(220, 61%, 80%);
      background-color: hsl(130, 100%, 36%);
      transition: all 0.4s;
  }
  