.logout-button {
    text-decoration: none;
    border: none;
    width: 10rem;
    margin: 0.4rem;
    padding: 0.4rem;
    font-size: 1rem;
    text-align: center;
    background-color: hsla(0, 100%, 50%, 0.8);
    color: hsl(220, 61%, 80%);
    border-radius: 0.3rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: hsl(216, 100%, 5%);
    color: hsl(0, 100%, 50%);
    transition: all 0.5s;
  }
  
  
  /* For medium size phones */
  @media (min-width: 576px) {
  }
  
  /* For Tablets & Laptops */
  @media (min-width: 768px) {
  }
  
  /* For Laptops */
  @media (min-width: 992px) {
  }
  