.calender-date__object {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid hsl(220, 61%, 80%); */
    /* background-color: hsl(216, 100%, 5%); */
    
    color: hsl(216, 100%, 5%);
    background-color: hsl(216, 100%, 35%);
    font-weight: bold;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.calender-date__object:hover, .calender-date-object__today:hover {
    background-color: hsl(220, 61%, 80%);
    font-weight: bold;
    color: hsl(216, 100%, 5%);
    transition: all 0.5s;
}

.calender-date-object__today {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(216, 100%, 5%);
    background-color: hsl(216, 100%, 65%);
    font-weight: bold;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

.calender-date-object__disabled {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid hsl(216, 100%, 35%); */
    background-color: hsl(216, 100%, 5%);
    color: hsl(216, 100%, 35%);
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

/* For Tablets & Laptops */
@media (min-width: 768px) {
  }
  
  /* For Laptops */
  @media (min-width: 992px) {
  }
  