.calender-info__heading {
  text-align: center;
}

.calender-info__container {
  margin-top: 2.2rem;
  padding: 0.5rem;
  position: relative;
  display: grid;
  grid-template-columns: 20% auto;
  gap: 1rem;
}

.calender-info-date__icon {
  align-self: center;
  justify-self: center;
}

.calender-info-date__description {
  align-self: center;
  border-left: 3px solid hsl(220, 61%, 30%);
  color: hsl(220, 61%, 70%);
  padding-left: 0.6rem;
}

.calender-date {
  width: 4rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(216, 100%, 5%);
  background-color: hsl(216, 100%, 35%);
  font-weight: bold;
  -webkit-user-select: none;
  user-select: none;
}

.calender-date.available {
  background-color: hsl(216, 100%, 50%);
  color: hsl(220, 61%, 80%);
}

.calender-date.disabled {
  background-color: hsl(216, 100%, 5%);
  color: hsl(216, 100%, 35%);
}

.calender-date.pending-yellow {
  background-color: hsl(61, 100%, 26%);
  color: hsl(220, 61%, 80%);
}

.calender-date.pending-orange {
  background-color: hsl(35, 100%, 30%);
  color: hsl(220, 61%, 80%);
}

.calender-date.pending-red {
  background-color: hsl(0, 100%, 36%);
  color: hsl(220, 61%, 80%);
}

.calender-date.confirmed {
  background-color: hsl(136, 100%, 36%);
  color: hsl(220, 61%, 80%);
}

.calender-date.today {
  color: hsl(216, 100%, 5%);
  background-color: hsl(216, 100%, 65%);
}
