.reservation-steps__container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* For Mobile Phones */
@media (max-width: 768px) {
}

/* For Tablets */
@media (min-width: 768px) and (max-width: 992px) {
}

/* For Laptops */
@media (min-width: 992px) {
}
