.solid-button {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.6rem;
    background-color: #86fde8;
    color: #7243ff;
    border: 2px solid #7243ff;
    cursor: pointer;
}

.solid-button:hover {
    color: #86fde8;
    background-color: #7243ff;
    border: 2px solid #7243ff;
}